<!DOCTYPE html>
<html>

<head>
    <title>Doctors Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Doctors Page</h1>
    <div>
        <input type="text" id="taskInput" placeholder="Name Doctor">
        <button id="addTaskBtn">Find Doctor</button>
    </div>
    <table id="DoctorsList">
        <!-- Tasks will be displayed here -->
    </table>
    <script>
        $(document).ready(function () {
            // Set CSRF token for AJAX requests
            $.ajaxSetup({
                headers: { "X-CSRFToken": "{{ csrf_token }}" }
            });

            // Function to load tasks from the server
            function loadTasks() {
                $.ajax({
                    url: '/doctors/get_doctors_json',
                    method: 'GET',
                    success: function (data) {
                        // console.log(Object.entries(data))
                        // console.log(Object.entries(data)[0][1])
                        $('#DoctorsList').empty();
                        // data.forEach(function (doctor) {
                        //     // let doctors_all = "";
                        //     // for (i = 0; i < length(doctor); i++) {
                        //     // }
                        //     // doctors_all += 
                        //     $('#DoctorsList').append('<tr><td>' + Object.entries(doctor)[1] + '</td></tr>');
                        // });
                        let doctors_all = "";
                        console.log(data)
                        for (i = 0; i < Object.entries(data).length; i++) {
                            doctors_all += '<tr><td><a href="/doctors/doctor_page/' + (i + 1) + '/">' + Object.entries(data)[i][1] + '</a></td></tr>';
                            // console.log("AAAAAAAAAAAAAAA")
                        }
                        console.log(doctors_all)
                        $('#DoctorsList').append(doctors_all);
                    }
                });
            }

            // Load tasks on page load
            loadTasks();

            // Function to add a new task
            $('#addTaskBtn').click(function () {
                var title = $('#taskInput').val();
                $.ajax({
                    url: '/doctors/add_doctor/',
                    method: 'POST',
                    data: { title: title },
                    success: function () {
                        $('#taskInput').val('');
                        loadTasks();
                    }
                });
            });
        });
    </script>
</body>

</html>