<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        div {
            display: block;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>doctor</h1>
    <input type="hidden" value="{{ id }}" id="doctor_id">
    <div id="doctor_name"></div>
    age <div id="doctor_age"></div>
    adress <div id="doctor_adress"></div>
    salary <div id="doctor_salary"></div>

    <script>
        $(document).ready(function () {
            // Set CSRF token for AJAX requests
            $.ajaxSetup({
                headers: { "X-CSRFToken": "{{ csrf_token }}" }
            });

            // Function to load tasks from the server
            function loadTasks() {

                $.ajax({
                    url: '/doctor/get_doctors_json',
                    method: 'GET',
                    success: function (data) {
                        // console.log(Object.entries(data))
                        // console.log(Object.entries(data)[0][1])
                        $('#DoctorsList').empty();
                        // data.forEach(function (doctor) {
                        //     // let doctors_all = "";
                        //     // for (i = 0; i < length(doctor); i++) {
                        //     // }
                        //     // doctors_all += 
                        //     $('#DoctorsList').append('<tr><td>' + Object.entries(doctor)[1] + '</td></tr>');
                        // });
                        let doctors_all = "";
                        console.log(data)
                        for (i = 0; i < Object.entries(data).length; i++) {
                            doctors_all += '<tr><td>' + Object.entries(data)[i][1] + '</td></tr>';
                            // console.log("AAAAAAAAAAAAAAA")
                        }
                        console.log(doctors_all)
                        $('#DoctorsList').append(doctors_all);
                    }
                });
            }

            // Load tasks on page load
            loadTasks();

            // Function to add a new task
            $('#addTaskBtn').click(function () {
                var title = $('#taskInput').val();
                $.ajax({
                    url: '/doctors/add_doctor/',
                    method: 'POST',
                    data: { title: title },
                    success: function () {
                        $('#taskInput').val('');
                        loadTasks();
                    }
                });
            });
        });
    </script>
</body>

</html>