<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        div {
            display: inline;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="hidden" value="{{ doctor_id }}" id="doctor_id"> <!-- $("doctor_id").val(); -->
    <h1>doctor <div id="doctor_name"></div>
    </h1>

    age <div id="doctor_age"></div>
    adress <div id="doctor_adress"></div>
    salary <div id="doctor_salary"></div>

    <script>
        $(document).ready(function () {
            // Set CSRF token for AJAX requests
            $.ajaxSetup({
                headers: { "X-CSRFToken": "{{ csrf_token }}" }
            });

            // Function to load tasks from the server
            function loadTasks() {
                doctor_id = $("#doctor_id").val();
                console.log($("#doctor_id").val());
                my_url = '/doctors/get_doctor_json/' + doctor_id;
                console.log(my_url);
                $.ajax({
                    url: '/doctors/get_doctor_json/' + doctor_id,
                    method: 'GET',
                    success: function (data) {
                        $('#DoctorsList').empty();
                        console.log(data)
                        $('#doctor_name').append(data[0]);
                        $('#doctor_age').append(data[1]);
                        $('#doctor_adress').append(data[2]);
                        $('#doctor_salary').append(data[3]);
                    }
                });
            }

            // Load tasks on page load
            loadTasks();

        });
    </script>
</body>

</html>